![image.png](https://raw.githubusercontent.com/fjvarasc/DSPXI/master/figures/python_logo.png)

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Variables-Types" data-toc-modified-id="Variables-Types-1">Variables Types</a></span><ul class="toc-item"><li><span><a href="#Assigning-Values-to-Variables" data-toc-modified-id="Assigning-Values-to-Variables-1.1">Assigning Values to Variables</a></span></li><li><span><a href="#Standard-Data-Types" data-toc-modified-id="Standard-Data-Types-1.2">Standard Data Types</a></span></li></ul></li><li><span><a href="#Python-Numbers" data-toc-modified-id="Python-Numbers-2">Python Numbers</a></span><ul class="toc-item"><li><span><a href="#Number-Type-Conversion" data-toc-modified-id="Number-Type-Conversion-2.1">Number Type Conversion</a></span></li><li><span><a href="#Mathematical-Functions" data-toc-modified-id="Mathematical-Functions-2.2">Mathematical Functions</a></span><ul class="toc-item"><li><span><a href="#abs(x)-:" data-toc-modified-id="abs(x)-:-2.2.1">abs(x) :</a></span></li><li><span><a href="#ceil(x)-:" data-toc-modified-id="ceil(x)-:-2.2.2">ceil(x) :</a></span></li><li><span><a href="#exp(x)-:" data-toc-modified-id="exp(x)-:-2.2.3">exp(x) :</a></span></li><li><span><a href="#fabs(x)-:" data-toc-modified-id="fabs(x)-:-2.2.4">fabs(x) :</a></span></li><li><span><a href="#floor(x)-:" data-toc-modified-id="floor(x)-:-2.2.5">floor(x) :</a></span></li><li><span><a href="#log(x)-:" data-toc-modified-id="log(x)-:-2.2.6">log(x) :</a></span></li><li><span><a href="#log10(x)-:" data-toc-modified-id="log10(x)-:-2.2.7">log10(x) :</a></span></li><li><span><a href="#max(x1,-x2,...)-:" data-toc-modified-id="max(x1,-x2,...)-:-2.2.8">max(x1, x2,...) :</a></span></li><li><span><a href="#min(x1,-x2,...)-:" data-toc-modified-id="min(x1,-x2,...)-:-2.2.9">min(x1, x2,...) :</a></span></li><li><span><a href="#modf(x)-:" data-toc-modified-id="modf(x)-:-2.2.10">modf(x) :</a></span></li><li><span><a href="#pow(x,-y)-:" data-toc-modified-id="pow(x,-y)-:-2.2.11">pow(x, y) :</a></span></li><li><span><a href="#round(x-[,n])-:" data-toc-modified-id="round(x-[,n])-:-2.2.12">round(x [,n]) :</a></span></li><li><span><a href="#sqrt(x)-:-The-square-root-of-x-for-x-&gt;-0" data-toc-modified-id="sqrt(x)-:-The-square-root-of-x-for-x->-0-2.2.13">sqrt(x) : The square root of x for x &gt; 0</a></span></li></ul></li><li><span><a href="#Random-Number-Functions" data-toc-modified-id="Random-Number-Functions-2.3">Random Number Functions</a></span><ul class="toc-item"><li><span><a href="#choice(seq)-:" data-toc-modified-id="choice(seq)-:-2.3.1">choice(seq) :</a></span></li><li><span><a href="#randrange-(start,-stop-,step)-:" data-toc-modified-id="randrange-(start,-stop-,step)-:-2.3.2">randrange (start, stop ,step) :</a></span></li><li><span><a href="#random()-:" data-toc-modified-id="random()-:-2.3.3">random() :</a></span></li><li><span><a href="#seed(x)-:" data-toc-modified-id="seed(x)-:-2.3.4">seed(x) :</a></span></li><li><span><a href="#shuffle(list)-:" data-toc-modified-id="shuffle(list)-:-2.3.5">shuffle(list) :</a></span></li><li><span><a href="#uniform(x,-y)-:" data-toc-modified-id="uniform(x,-y)-:-2.3.6">uniform(x, y) :</a></span></li></ul></li><li><span><a href="#Trigonometric-Functions" data-toc-modified-id="Trigonometric-Functions-2.4">Trigonometric Functions</a></span><ul class="toc-item"><li><span><a href="#acos(x)-:" data-toc-modified-id="acos(x)-:-2.4.1">acos(x) :</a></span></li><li><span><a href="#asin(x)-:" data-toc-modified-id="asin(x)-:-2.4.2">asin(x) :</a></span></li><li><span><a href="#atan(x)-:-Return-the-arc-tangent-of-x,-in-radians." data-toc-modified-id="atan(x)-:-Return-the-arc-tangent-of-x,-in-radians.-2.4.3">atan(x) : Return the arc tangent of x, in radians.</a></span></li><li><span><a href="#atan2(y,-x)-:-Return-atan(y-/-x),-in-radians." data-toc-modified-id="atan2(y,-x)-:-Return-atan(y-/-x),-in-radians.-2.4.4">atan2(y, x) : Return atan(y / x), in radians.</a></span></li><li><span><a href="#cos(x)-:" data-toc-modified-id="cos(x)-:-2.4.5">cos(x) :</a></span></li><li><span><a href="#hypot(x,-y)-:" data-toc-modified-id="hypot(x,-y)-:-2.4.6">hypot(x, y) :</a></span></li><li><span><a href="#sin(x)-:" data-toc-modified-id="sin(x)-:-2.4.7">sin(x) :</a></span></li><li><span><a href="#tan(x)-:" data-toc-modified-id="tan(x)-:-2.4.8">tan(x) :</a></span></li><li><span><a href="#degrees(x)-:" data-toc-modified-id="degrees(x)-:-2.4.9">degrees(x) :</a></span></li><li><span><a href="#radians(x)-:" data-toc-modified-id="radians(x)-:-2.4.10">radians(x) :</a></span></li><li><span><a href="#Mathematical-Constants" data-toc-modified-id="Mathematical-Constants-2.4.11">Mathematical Constants</a></span></li></ul></li></ul></li><li><span><a href="#Python-Strings" data-toc-modified-id="Python-Strings-3">Python Strings</a></span><ul class="toc-item"><li><span><a href="#Accessing-Values-in-Strings" data-toc-modified-id="Accessing-Values-in-Strings-3.1">Accessing Values in Strings</a></span></li><li><span><a href="#Updating-Strings" data-toc-modified-id="Updating-Strings-3.2">Updating Strings</a></span></li><li><span><a href="#String-Formatting-Operator" data-toc-modified-id="String-Formatting-Operator-3.3">String Formatting Operator</a></span></li><li><span><a href="#Triple-Quotes" data-toc-modified-id="Triple-Quotes-3.4">Triple Quotes</a></span></li><li><span><a href="#Built-in-String-Methods" data-toc-modified-id="Built-in-String-Methods-3.5">Built-in String Methods</a></span><ul class="toc-item"><li><span><a href="#capitalize()" data-toc-modified-id="capitalize()-3.5.1">capitalize()</a></span></li><li><span><a href="#center(width,-fillchar)" data-toc-modified-id="center(width,-fillchar)-3.5.2">center(width, fillchar)</a></span></li><li><span><a href="#count(str,-beg=-0,end=len(string))" data-toc-modified-id="count(str,-beg=-0,end=len(string))-3.5.3">count(str, beg= 0,end=len(string))</a></span></li><li><span><a href="#endswith(suffix,-beg=0,-end=len(string))" data-toc-modified-id="endswith(suffix,-beg=0,-end=len(string))-3.5.4">endswith(suffix, beg=0, end=len(string))</a></span></li><li><span><a href="#expandtabs(tabsize=8)" data-toc-modified-id="expandtabs(tabsize=8)-3.5.5">expandtabs(tabsize=8)</a></span></li><li><span><a href="#find(str,-beg=0-end=len(string))" data-toc-modified-id="find(str,-beg=0-end=len(string))-3.5.6">find(str, beg=0 end=len(string))</a></span></li><li><span><a href="#index(str,-beg=0,-end=len(string))" data-toc-modified-id="index(str,-beg=0,-end=len(string))-3.5.7">index(str, beg=0, end=len(string))</a></span></li><li><span><a href="#isalnum()" data-toc-modified-id="isalnum()-3.5.8">isalnum()</a></span></li><li><span><a href="#isalpha()" data-toc-modified-id="isalpha()-3.5.9">isalpha()</a></span></li><li><span><a href="#isdigit()" data-toc-modified-id="isdigit()-3.5.10">isdigit()</a></span></li><li><span><a href="#islower()" data-toc-modified-id="islower()-3.5.11">islower()</a></span></li><li><span><a href="#isnumeric()" data-toc-modified-id="isnumeric()-3.5.12">isnumeric()</a></span></li><li><span><a href="#isspace()" data-toc-modified-id="isspace()-3.5.13">isspace()</a></span></li><li><span><a href="#istitle()" data-toc-modified-id="istitle()-3.5.14">istitle()</a></span></li><li><span><a href="#isupper()" data-toc-modified-id="isupper()-3.5.15">isupper()</a></span></li><li><span><a href="#join(seq)" data-toc-modified-id="join(seq)-3.5.16">join(seq)</a></span></li><li><span><a href="#len(string)" data-toc-modified-id="len(string)-3.5.17">len(string)</a></span></li><li><span><a href="#ljust(width,-fillchar)" data-toc-modified-id="ljust(width,-fillchar)-3.5.18">ljust(width, fillchar)</a></span></li><li><span><a href="#lower()" data-toc-modified-id="lower()-3.5.19">lower()</a></span></li><li><span><a href="#lstrip()" data-toc-modified-id="lstrip()-3.5.20">lstrip()</a></span></li><li><span><a href="#max(str)" data-toc-modified-id="max(str)-3.5.21">max(str)</a></span></li><li><span><a href="#min(str)" data-toc-modified-id="min(str)-3.5.22">min(str)</a></span></li><li><span><a href="#replace(old,-new-,-max)" data-toc-modified-id="replace(old,-new-,-max)-3.5.23">replace(old, new , max)</a></span></li><li><span><a href="#rfind(str,-beg=0,end=len(string))" data-toc-modified-id="rfind(str,-beg=0,end=len(string))-3.5.24">rfind(str, beg=0,end=len(string))</a></span></li><li><span><a href="#rindex(-str,-beg=0,-end=len(string))" data-toc-modified-id="rindex(-str,-beg=0,-end=len(string))-3.5.25">rindex( str, beg=0, end=len(string))</a></span></li><li><span><a href="#rjust(width,fillchar)" data-toc-modified-id="rjust(width,fillchar)-3.5.26">rjust(width,fillchar)</a></span></li><li><span><a href="#rstrip()" data-toc-modified-id="rstrip()-3.5.27">rstrip()</a></span></li><li><span><a href="#split(str=&quot;&quot;,-num=string.count(str))" data-toc-modified-id="split(str=&quot;&quot;,-num=string.count(str))-3.5.28">split(str="", num=string.count(str))</a></span></li><li><span><a href="#splitlines(-num=string.count('\n'))" data-toc-modified-id="splitlines(-num=string.count('\n'))-3.5.29">splitlines( num=string.count('\n'))</a></span></li><li><span><a href="#startswith(str,-beg=0,end=len(string))" data-toc-modified-id="startswith(str,-beg=0,end=len(string))-3.5.30">startswith(str, beg=0,end=len(string))</a></span></li><li><span><a href="#strip(chars)" data-toc-modified-id="strip(chars)-3.5.31">strip(chars)</a></span></li><li><span><a href="#swapcase()" data-toc-modified-id="swapcase()-3.5.32">swapcase()</a></span></li><li><span><a href="#title()" data-toc-modified-id="title()-3.5.33">title()</a></span></li><li><span><a href="#upper()" data-toc-modified-id="upper()-3.5.34">upper()</a></span></li><li><span><a href="#zfill-(width)" data-toc-modified-id="zfill-(width)-3.5.35">zfill (width)</a></span></li><li><span><a href="#isdecimal()" data-toc-modified-id="isdecimal()-3.5.36">isdecimal()</a></span></li></ul></li></ul></li><li><span><a href="#Python-Lists" data-toc-modified-id="Python-Lists-4">Python Lists</a></span><ul class="toc-item"><li><span><a href="#Creating-a-list" data-toc-modified-id="Creating-a-list-4.1">Creating a list</a></span></li><li><span><a href="#Update-List" data-toc-modified-id="Update-List-4.2">Update List</a></span></li><li><span><a href="#Remove" data-toc-modified-id="Remove-4.3">Remove</a></span></li><li><span><a href="#List-Operators" data-toc-modified-id="List-Operators-4.4">List Operators</a></span></li><li><span><a href="#Index/Slice" data-toc-modified-id="Index/Slice-4.5">Index/Slice</a></span></li><li><span><a href="#Built-in-List-Functions-&amp;-Methods" data-toc-modified-id="Built-in-List-Functions-&amp;-Methods-4.6">Built-in List Functions &amp; Methods</a></span><ul class="toc-item"><li><span><a href="#len(list)" data-toc-modified-id="len(list)-4.6.1">len(list)</a></span></li><li><span><a href="#max(list)" data-toc-modified-id="max(list)-4.6.2">max(list)</a></span></li><li><span><a href="#min(list)" data-toc-modified-id="min(list)-4.6.3">min(list)</a></span></li><li><span><a href="#list.append(obj)" data-toc-modified-id="list.append(obj)-4.6.4">list.append(obj)</a></span></li><li><span><a href="#list.count(obj)" data-toc-modified-id="list.count(obj)-4.6.5">list.count(obj)</a></span></li><li><span><a href="#list.extend(seq)" data-toc-modified-id="list.extend(seq)-4.6.6">list.extend(seq)</a></span></li><li><span><a href="#list.index(obj)" data-toc-modified-id="list.index(obj)-4.6.7">list.index(obj)</a></span></li><li><span><a href="#list.insert(index,-obj)" data-toc-modified-id="list.insert(index,-obj)-4.6.8">list.insert(index, obj)</a></span></li><li><span><a href="#list.pop(obj=list[-1])" data-toc-modified-id="list.pop(obj=list[-1])-4.6.9">list.pop(obj=list[-1])</a></span></li><li><span><a href="#list.remove(obj)" data-toc-modified-id="list.remove(obj)-4.6.10">list.remove(obj)</a></span></li><li><span><a href="#list.reverse()" data-toc-modified-id="list.reverse()-4.6.11">list.reverse()</a></span></li><li><span><a href="#list.sort(func)" data-toc-modified-id="list.sort(func)-4.6.12">list.sort(func)</a></span></li></ul></li></ul></li><li><span><a href="#Python-Tuples" data-toc-modified-id="Python-Tuples-5">Python Tuples</a></span><ul class="toc-item"><li><span><a href="#Accessing-Values-in-Tuples" data-toc-modified-id="Accessing-Values-in-Tuples-5.1">Accessing Values in Tuples</a></span></li><li><span><a href="#Delete-Tuple-Elements" data-toc-modified-id="Delete-Tuple-Elements-5.2">Delete Tuple Elements</a></span></li><li><span><a href="#Python-Dictionary" data-toc-modified-id="Python-Dictionary-5.3">Python Dictionary</a></span></li></ul></li><li><span><a href="#Classes" data-toc-modified-id="Classes-6">Classes</a></span><ul class="toc-item"><li><span><a href="#Accessing-Object-Variables" data-toc-modified-id="Accessing-Object-Variables-6.1">Accessing Object Variables</a></span></li><li><span><a href="#Accessing-Object-Functions" data-toc-modified-id="Accessing-Object-Functions-6.2">Accessing Object Functions</a></span></li></ul></li><li><span><a href="#Data-Type-Conversion" data-toc-modified-id="Data-Type-Conversion-7">Data Type Conversion</a></span></li><li><span><a href="#Types-of-Operators" data-toc-modified-id="Types-of-Operators-8">Types of Operators</a></span><ul class="toc-item"><li><span><a href="#Arithmetic-Operators" data-toc-modified-id="Arithmetic-Operators-8.1">Arithmetic Operators</a></span></li><li><span><a href="#Addition-:" data-toc-modified-id="Addition-:-8.2">Addition :</a></span></li><li><span><a href="#Substraction-:" data-toc-modified-id="Substraction-:-8.3">Substraction :</a></span></li><li><span><a href="#Multiplication-:" data-toc-modified-id="Multiplication-:-8.4">Multiplication :</a></span></li><li><span><a href="#Comparison-Operators" data-toc-modified-id="Comparison-Operators-8.5">Comparison Operators</a></span></li></ul></li></ul></div>

# Variables Types

Variables are nothing but reserved memory locations to store values. This means that when you create a variable you reserve some space in memory.

Based on the data type of a variable, the interpreter allocates memory and decides what can be stored in the reserved memory. Therefore, by assigning different data types to variables, you can store integers, decimals or characters in these variables.

## Assigning Values to Variables

Python variables do not need explicit declaration to reserve memory space. The declaration happens automatically when you assign a value to a variable. The equal sign (=) is used to assign values to variables.

The operand to the left of the = operator is the name of the variable and the operand to the right of the = operator is the value stored in the variable.

In [4]:
counter = 100          # An integer assignment
miles   = 1000.0       # A floating point
name    = "John"       # A string

print (counter)
print (miles)
print (name)

#Multiple assigment
a = b = c = 1
print (a,b,c)

#Multiple assigment, different value
a,b,c = 1,2,"john"
print (a,b,c)

100
1000.0
John
1 1 1
1 2 john

## Standard Data Types

The data stored in memory can be of many types. For example, a person's age is stored as a numeric value and his or her address is stored as alphanumeric characters. Python has various standard data types that are used to define the operations possible on them and the storage method for each of them.

- Python has five standard data types:
    * Numbers
    * String
    * List
    * Tuple
    * Dictionary

# Python Numbers
Number data types store numeric values. Number objects are created when you assign a value to them.

- Python supports four different numerical types:
    * int (signed integers)
    * long (long integers, they can also be represented in octal and hexadecimal)
    * float (floating point real values)
    * complex (complex numbers)

![Capture.png](https://raw.githubusercontent.com/fjvarasc/DSPXI/master/figures/number_desc.png)

## Number Type Conversion

Python converts numbers internally in an expression containing mixed types to a common type for evaluation. But sometimes, you need to coerce a number explicitly from one type to another to satisfy the requirements of an operator or function parameter.

* Type int(x) to convert x to a plain integer.
* Type long(x) to convert x to a long integer.
* Type float(x) to convert x to a floating-point number.
* Type complex(x) to convert x to a complex number with real part x and imaginary part zero.
* Type complex(x, y) to convert x and y to a complex number with real part x and imaginary part y. x and y are numeric expressions

## Mathematical Functions

Python includes following functions that perform mathematical calculations.

In [16]:
import math #First we add the math module into out code so we can call the functions

### abs(x) : 
The absolute value of x: the (positive) distance between x and zero.

In [17]:
print ("abs(-45) : ", abs(-45))
print ("abs(100.12) : ", abs(100.12))
print ("abs(119) : ", abs(119))

abs(-45) :  45
abs(100.12) :  100.12
abs(119) :  119

### ceil(x) : 
The ceiling of x: the smallest integer not less than x

In [18]:
import math   # This will import math module
print ("math.ceil(-45.17) : ", math.ceil(-45.17))
print ("math.ceil(100.12) : ", math.ceil(100.12))
print ("math.ceil(100.72) : ", math.ceil(100.72))
print ("math.ceil(119) : ", math.ceil(119))
print ("math.ceil(math.pi) : ", math.ceil(math.pi))

math.ceil(-45.17) :  -45
math.ceil(100.12) :  101
math.ceil(100.72) :  101
math.ceil(119) :  119
math.ceil(math.pi) :  4

### exp(x) : 
The exponential of x: ex

In [20]:
print ("math.exp(-45.17) : ", math.exp(-45.17))
print ("math.exp(100.72) : ", math.exp(100.72))
print ("math.exp(119L) : ", math.exp(119))
print ("math.exp(math.pi) : ", math.exp(math.pi))

math.exp(-45.17) :  2.4150062132629406e-20
math.exp(100.72) :  5.522557130248187e+43
math.exp(119L) :  4.797813327299302e+51
math.exp(math.pi) :  23.140692632779267

### fabs(x) : 
The absolute value of x.

In [21]:
print ("math.fabs(-45.17) : ", math.fabs(-45.17))
print ("math.fabs(100.12) : ", math.fabs(100.12))
print ("math.fabs(100.72) : ", math.fabs(100.72))
print ("math.fabs(119) : ", math.fabs(119))
print ("math.fabs(math.pi) : ", math.fabs(math.pi))

math.fabs(-45.17) :  45.17
math.fabs(100.12) :  100.12
math.fabs(100.72) :  100.72
math.fabs(119) :  119.0
math.fabs(math.pi) :  3.141592653589793

### floor(x) : 
The floor of x: the largest integer not greater than x

In [25]:
print ("math.floor(-45.17) : ", math.floor(-45.17))
print ("math.floor(100.12) : ", math.floor(100.12))
print ("math.floor(100.72) : ", math.floor(100.72))
print ("math.floor(119) : ", math.floor(119))
print ("math.floor(math.pi) : ", math.floor(math.pi))

math.floor(-45.17) :  -46
math.floor(100.12) :  100
math.floor(100.72) :  100
math.floor(119) :  119
math.floor(math.pi) :  3

### log(x) : 
The natural logarithm of x, for x> 0

In [28]:
print ("math.log(100.12) : ", math.log(100.12))
print ("math.log(100.72) : ", math.log(100.72))
print ("math.log(119) : ", math.log(119))
print ("math.log(math.pi) : ", math.log(math.pi))

math.log(100.12) :  4.6063694665635735
math.log(100.72) :  4.612344389736092
math.log(119) :  4.77912349311153
math.log(math.pi) :  1.1447298858494002

### log10(x) : 
The base-10 logarithm of x for x> 0

In [30]:
print ("math.log10(100.12) : ", math.log10(100.12))
print ("math.log10(100.72) : ", math.log10(100.72))
print ("math.log10(119) : ", math.log10(119))
print ("math.log10(math.pi) : ", math.log10(math.pi))

math.log10(100.12) :  2.0005208409361854
math.log10(100.72) :  2.003115717099806
math.log10(119) :  2.075546961392531
math.log10(math.pi) :  0.4971498726941338

### max(x1, x2,...) : 
The largest of its arguments: the value closest to positive infinity

In [32]:
print ("max(80, 100, 1000) : ", max(80, 100, 1000))
print ("max(-20, 100, 400) : ", max(-20, 100, 400))
print ("max(-80, -20, -10) : ", max(-80, -20, -10))
print ("max(0, 100, -400) : ", max(0, 100, -400))

max(80, 100, 1000) :  1000
max(-20, 100, 400) :  400
max(-80, -20, -10) :  -10
max(0, 100, -400) :  100

### min(x1, x2,...) : 
The smallest of its arguments: the value closest to negative infinity

In [34]:
print ("min(80, 100, 1000) : ", min(80, 100, 1000))
print ("min(-20, 100, 400) : ", min(-20, 100, 400))
print ("min(-80, -20, -10) : ", min(-80, -20, -10))
print ("min(0, 100, -400) : ", min(0, 100, -400))

min(80, 100, 1000) :  80
min(-20, 100, 400) :  -20
min(-80, -20, -10) :  -80
min(0, 100, -400) :  -400

### modf(x) : 
The fractional and integer parts of x in a two-item tuple. Both parts have the same sign as x. The integer part is returned as a float.

In [36]:
print ("math.modf(100.12) : ", math.modf(100.12))
print ("math.modf(100.72) : ", math.modf(100.72))
print ("math.modf(119) : ", math.modf(119))
print ("math.modf(math.pi) : ", math.modf(math.pi))

math.modf(100.12) :  (0.12000000000000455, 100.0)
math.modf(100.72) :  (0.7199999999999989, 100.0)
math.modf(119) :  (0.0, 119.0)
math.modf(math.pi) :  (0.14159265358979312, 3.0)

### pow(x, y) : 
The value of x**y.

In [37]:
print ("math.pow(100, 2) : ", math.pow(100, 2))
print ("math.pow(100, -2) : ", math.pow(100, -2))
print ("math.pow(2, 4) : ", math.pow(2, 4))
print ("math.pow(3, 0) : ", math.pow(3, 0))

math.pow(100, 2) :  10000.0
math.pow(100, -2) :  0.0001
math.pow(2, 4) :  16.0
math.pow(3, 0) :  1.0

### round(x [,n]) : 
x rounded to n digits from the decimal point. Python rounds away from zero as a tie-breaker: round(0.5) is 1.0 and round(-0.5) is -1.0.

In [39]:
print ("round(80.23456, 2) : ", round(80.23456, 2))
print ("round(100.000056, 3) : ", round(100.000056, 3))
print ("round(-100.000056, 3) : ", round(-100.000056, 3))

round(80.23456, 2) :  80.23
round(100.000056, 3) :  100.0
round(-100.000056, 3) :  -100.0

### sqrt(x) : The square root of x for x > 0

In [41]:
print ("math.sqrt(100) : ", math.sqrt(100))
print ("math.sqrt(7) : ", math.sqrt(7))
print ("math.sqrt(math.pi) : ", math.sqrt(math.pi))

math.sqrt(100) :  10.0
math.sqrt(7) :  2.6457513110645907
math.sqrt(math.pi) :  1.7724538509055159

## Random Number Functions
Random numbers are used for games, simulations, testing, security, and privacy applications. Python includes following functions that are commonly used.

In [42]:
# we import the library 
import random

### choice(seq) : 
A random item from a list, tuple, or string.

In [44]:
print ("choice([1, 2, 3, 5, 9]) : ", random.choice([1, 2, 3, 5, 9]))
print ("choice('A String') : ", random.choice('A String'))

choice([1, 2, 3, 5, 9]) :  9
choice('A String') :  t

### randrange (start, stop ,step) : 
A randomly selected element from range(start, stop, step)

In [50]:
# Select an even number in 100 <= number < 1000
print ("randrange(100, 1000, 2) : ", random.randrange(100, 1000, 1))
# Select another number in 100 <= number < 1000
print ("randrange(100, 1000, 3) : ", random.randrange(100, 1000, 3))

randrange(100, 1000, 2) :  304
randrange(100, 1000, 3) :  415

### random() : 
A random float r, such that 0 is less than or equal to r and r is less than 1

In [52]:
# First random number
print ("random() : ", random.random())
# Second random number
print ("random() : ", random.random())

random() :  0.8567421459183977
random() :  0.8042634413025611

### seed(x) : 
Sets the integer starting value used in generating random numbers. Call this function before calling any other random module function. Returns None.

In [56]:
random.seed( 10 )
print ("Random number with seed 10 : ", random.random())
# It will generate same random number
random.seed( 10 )
print ("Random number with seed 10 : ", random.random())
# It will generate same random number
random.seed( 10 )
print ("Random number with seed 10 : ", random.random())

Random number with seed 10 :  0.5714025946899135
Random number with seed 10 :  0.5714025946899135
Random number with seed 10 :  0.5714025946899135

### shuffle(list) : 
Randomizes the items of a list in place. Returns None.

In [58]:
list = [20, 16, 10, 5];
random.shuffle(list)
print ("Reshuffled list : ",  list)
random.shuffle(list)
print ("Reshuffled list : ",  list)

Reshuffled list :  [10, 20, 16, 5]
Reshuffled list :  [10, 16, 5, 20]

### uniform(x, y) : 
A random float r, such that x is less than or equal to r and r is less than y

In [60]:
print ("Random Float uniform(5, 10) : ",  random.uniform(5, 10))
print ("Random Float uniform(7, 14) : ",  random.uniform(7, 14))

Random Float uniform(5, 10) :  9.117944362667227
Random Float uniform(7, 14) :  11.574307737308231

## Trigonometric Functions

Python includes following functions that perform trigonometric calculations.

### acos(x) : 
Return the arc cosine of x, in radians.

In [61]:
print ("acos(0.64) : ",  math.acos(0.64))
print ("acos(0) : ",  math.acos(0))
print ("acos(-1) : ",  math.acos(-1))
print ("acos(1) : ",  math.acos(1))

acos(0.64) :  0.8762980611683406
acos(0) :  1.5707963267948966
acos(-1) :  3.141592653589793
acos(1) :  0.0

### asin(x) : 
Return the arc sine of x, in radians.

In [63]:
print ("asin(0.64) : ",  math.asin(0.64))
print ("asin(0) : ",  math.asin(0))
print ("asin(-1) : ",  math.asin(-1))
print ("asin(1) : ",  math.asin(1))

asin(0.64) :  0.694498265626556
asin(0) :  0.0
asin(-1) :  -1.5707963267948966
asin(1) :  1.5707963267948966

### atan(x) : Return the arc tangent of x, in radians.

In [64]:
print ("atan(0.64) : ",  math.atan(0.64))
print ("atan(0) : ",  math.atan(0))
print ("atan(10) : ",  math.atan(10))
print ("atan(-1) : ",  math.atan(-1))
print ("atan(1) : ",  math.atan(1))

atan(0.64) :  0.5693131911006619
atan(0) :  0.0
atan(10) :  1.4711276743037347
atan(-1) :  -0.7853981633974483
atan(1) :  0.7853981633974483

### atan2(y, x) : Return atan(y / x), in radians.

In [65]:
print ("atan2(-0.50,-0.50) : ",  math.atan2(-0.50,-0.50))
print ("atan2(0.50,0.50) : ",  math.atan2(0.50,0.50))
print ("atan2(5,5) : ",  math.atan2(5,5))
print ("atan2(-10,10) : ",  math.atan2(-10,10))
print ("atan2(10,20) : ",  math.atan2(10,20))

atan2(-0.50,-0.50) :  -2.356194490192345
atan2(0.50,0.50) :  0.7853981633974483
atan2(5,5) :  0.7853981633974483
atan2(-10,10) :  -0.7853981633974483
atan2(10,20) :  0.4636476090008061

### cos(x) : 
Return the cosine of x radians.

In [67]:
print ("cos(3) : ",  math.cos(3))
print ("cos(-3) : ",  math.cos(-3))
print ("cos(0) : ",  math.cos(0))
print ("cos(math.pi) : ",  math.cos(math.pi))
print ("cos(2*math.pi) : ",  math.cos(2*math.pi))

cos(3) :  -0.9899924966004454
cos(-3) :  -0.9899924966004454
cos(0) :  1.0
cos(math.pi) :  -1.0
cos(2*math.pi) :  1.0

### hypot(x, y) : 
Return the Euclidean norm, sqrt(x*x + y*y).

In [69]:
print ("hypot(3, 2) : ",  math.hypot(3, 2))
print ("hypot(-3, 3) : ",  math.hypot(-3, 3))
print ("hypot(0, 2) : ",  math.hypot(0, 2))

hypot(3, 2) :  3.605551275463989
hypot(-3, 3) :  4.242640687119285
hypot(0, 2) :  2.0

### sin(x) : 
Return the sine of x radians.

In [71]:
print ("sin(3) : ",  math.sin(3))
print ("sin(-3) : ",  math.sin(-3))
print ("sin(0) : ",  math.sin(0))
print ("sin(math.pi) : ",  math.sin(math.pi))
print ("sin(math.pi/2) : ",  math.sin(math.pi/2))

sin(3) :  0.1411200080598672
sin(-3) :  -0.1411200080598672
sin(0) :  0.0
sin(math.pi) :  1.2246467991473532e-16
sin(math.pi/2) :  1.0

### tan(x) : 
Return the tangent of x radians.

In [73]:
print ("tan(3) : ",  math.tan(3))
print ("tan(-3) : ",  math.tan(-3))
print ("tan(0) : ",  math.tan(0))
print ("tan(math.pi) : ",  math.tan(math.pi))
print ("tan(math.pi/2) : ",  math.tan(math.pi/2))
print ("tan(math.pi/4) : ",  math.tan(math.pi/4))

tan(3) :  -0.1425465430742778
tan(-3) :  0.1425465430742778
tan(0) :  0.0
tan(math.pi) :  -1.2246467991473532e-16
tan(math.pi/2) :  1.633123935319537e+16
tan(math.pi/4) :  0.9999999999999999

### degrees(x) : 
Converts angle x from radians to degrees.

In [75]:
print ("degrees(3) : ",  math.degrees(3))
print ("degrees(-3) : ",  math.degrees(-3))
print ("degrees(0) : ",  math.degrees(0))
print ("degrees(math.pi) : ",  math.degrees(math.pi))
print ("degrees(math.pi/2) : ",  math.degrees(math.pi/2))
print ("degrees(math.pi/4) : ",  math.degrees(math.pi/4))

degrees(3) :  171.88733853924697
degrees(-3) :  -171.88733853924697
degrees(0) :  0.0
degrees(math.pi) :  180.0
degrees(math.pi/2) :  90.0
degrees(math.pi/4) :  45.0

### radians(x) : 
Converts angle x from degrees to radians.

In [77]:
print ("radians(3) : ",  math.radians(3))
print ("radians(-3) : ",  math.radians(-3))
print ("radians(0) : ",  math.radians(0))
print ("radians(math.pi) : ",  math.radians(math.pi))
print ("radians(math.pi/2) : ",  math.radians(math.pi/2))
print ("radians(math.pi/4) : ",  math.radians(math.pi/4))

radians(3) :  0.05235987755982989
radians(-3) :  -0.05235987755982989
radians(0) :  0.0
radians(math.pi) :  0.05483113556160755
radians(math.pi/2) :  0.027415567780803774
radians(math.pi/4) :  0.013707783890401887

### Mathematical Constants

The module also defines two mathematical constants −

In [79]:
import math
# pi : The mathematical constant pi.
print (math.pi)
# e : The mathematical constant e.
print (math.e)

3.141592653589793
2.718281828459045

# Python Strings

Strings in Python are identified as a contiguous set of characters represented in the quotation marks. Python allows for either pairs of single or double quotes. Subsets of strings can be taken using the slice operator ([ ] and [:] ) with indexes starting at 0 in the beginning of the string and working their way from -1 at the end.

The plus (+) sign is the string concatenation operator and the asterisk (*) is the repetition operator.

In [83]:
str = 'Hello World!'

print (str)          # Prints complete string
print (str[0])       # Prints first character of the string
print (str[2:5])     # Prints characters starting from 3rd to 5th
print (str[2:])      # Prints string starting from 3rd character
print (str * 2)      # Prints string two times
print (str + "TEST") # Prints concatenated string

Hello World!
H
llo
llo World!
Hello World!Hello World!
Hello World!TEST


## Accessing Values in Strings

Python does not support a character type; these are treated as strings of length one, thus also considered a substring.
To access substrings, use the square brackets for slicing along with the index or indices to obtain your substring.

In [86]:
var1 = 'Hello World!'
var2 = "Python Programming"

print ("var1[0]: ", var1[0])
print ("var2[1:5]: ", var2[1:5])

var1[0]:  H
var2[1:5]:  ytho


## Updating Strings
You can "update" an existing string by (re)assigning a variable to another string. The new value can be related to its previous value or to a completely different string altogether.

In [87]:
var1 = 'Hello World!'
print ("Updated String :- ", var1[:6] + 'Python')

Updated String :-  Hello Python

**Special Operators**

In [89]:
a='Hello'
b='Python'

print (a+b)
print (a*2)
print (a[1])
print (a[1:4])
print ('H' in a)
print ('M' not in a)

HelloPython
HelloHello
e
ell
True
True


## String Formatting Operator

One of Python's coolest features is the string format operator %. This operator is unique to strings and makes up for the pack of having functions from C's printf() family.

In [91]:
print ("My name is %s and i'm %d years old!" % ('Zara', 21))

My name is Zara and i'm 21 years old!

Here is the list of complete set of symbols which can be used along with % −

* %c character 
* %s string conversion via str() prior to formatting 
* %i signed decimal integer 
* %d signed decimal integer 
* %u unsigned decimal integer 
* %o octal integer 
* %x hexadecimal integer (lowercase letters) 
* %X hexadecimal integer (UPPERcase letters) 
* %e exponential notation (with lowercase 'e') 
* %E exponential notation (with UPPERcase 'E') 
* %f floating point real number


## Triple Quotes

Python's triple quotes comes to the rescue by allowing strings to span multiple lines, including verbatim NEWLINEs, TABs, and any other special characters.

The syntax for triple quotes consists of three consecutive single or double quotes.

In [93]:
para_str = """this is a long string that is made up of
several lines and non-printable characters such as
TAB ( \t ) and they will show up that way when displayed.
NEWLINEs within the string, whether explicitly given like
this within the brackets [ \n ], or just a NEWLINE within
the variable assignment will also show up.
"""
print (para_str)

this is a long string that is made up of
several lines and non-printable characters such as
TAB ( 	 ) and they will show up that way when displayed.
NEWLINEs within the string, whether explicitly given like
this within the brackets [
 ], or just a NEWLINE within
the variable assignment will also show up.

Raw strings do not treat the backslash as a special character at all. Every character you put into a raw string stays the way you wrote it

In [95]:
print ('C:\\nowhere')
print (r'C:\\nowhere')

C:\nowhere
C:\\nowhere


## Built-in String Methods

Python includes the following built-in methods to manipulate strings

### capitalize() 
Capitalizes first letter of string

In [97]:
str = "this is string example....wow!!!";
print ("str.capitalize() : ", str.capitalize())

str.capitalize() :  This is string example....wow!!!

### center(width, fillchar) 
Returns a space-padded string with the original string centered to a total of width columns.

In [98]:
str = "this is string example....wow!!!";
print ("str.center(40, 'a') : ", str.center(40, 'a'))

str.center(40, 'a') :  aaaathis is string example....wow!!!aaaa

### count(str, beg= 0,end=len(string)) 
Counts how many times str occurs in string or in a substring of string if starting index beg and ending index end are given.

In [101]:
str = "this is string example....wow!!!";
sub = "i";
print ("str.count(sub, 4, 40) : ", str.count(sub, 4, 40))
sub = "wow";
print ("str.count(sub) : ", str.count(sub))

str.count(sub, 4, 40) :  2
str.count(sub) :  1

### endswith(suffix, beg=0, end=len(string)) 
Determines if string or a substring of string (if starting index beg and ending index end are given) ends with suffix; returns true if so and false otherwise.

In [132]:
str = "this is string example....wow!!!";

suffix = "wow!!!";
print (str.endswith(suffix))
print (str.endswith(suffix,26))

True
True

In [134]:
suffix = "is";
print (str.endswith(suffix, 2, 4))
print (str.endswith(suffix, 2, 6))

True
False

### expandtabs(tabsize=8) 
Expands tabs in string to multiple spaces; defaults to 8 spaces per tab if tabsize not provided.

In [136]:
str = "this is\tstring example....wow!!!";

print ("Original string: " + str)
print ("Defualt exapanded tab: " +  str.expandtabs())
print ("Double exapanded tab: " +  str.expandtabs(16))

Original string: this is	string example....wow!!!
Defualt exapanded tab: this is string example....wow!!!
Double exapanded tab: this is         string example....wow!!!

### find(str, beg=0 end=len(string)) 
Determine if str occurs in string or in a substring of string if starting index beg and ending index end are given returns index if found and -1 otherwise.

In [137]:
str1 = "this is string example....wow!!!"
str2 = "exam"

print (str1.find(str2))
print (str1.find(str2, 10))
print (str1.find(str2, 40))

15
15
-1

### index(str, beg=0, end=len(string)) 
Same as find(), but raises an exception if str not found.

In [141]:
str1 = "this is string example....wow!!!"
str2 = "exam"

print (str1.index(str2))
print (str1.index(str2, 10))
print (str1.index(str2, 15))

15
15
15

### isalnum() 
Returns true if string has at least 1 character and all characters are alphanumeric and false otherwise.

In [143]:
str = "this2009"  # No space in this string
print (str.isalnum())

str = "this is string example....wow!!!"
print (str.isalnum())

True
False

### isalpha() 
Returns true if string has at least 1 character and all characters are alphabetic and false otherwise.

In [145]:
str = "this";  # No space & dhttps://notebook.infinitytech.co/user/pythondev/notebooks/DSP/DSPXI/0105_Types_Operations.ipynb#igit in this string
print (str.isalpha())

str = "this is string example....wow!!!";
print (str.isalpha())

True
False

### isdigit() 
Returns true if string contains only digits and false otherwise.

In [147]:
str = "123456";  # Only digit in this string
print (str.isdigit())

str = "this is string example....wow!!!";
print (str.isdigit())

True
False

### islower() 
Returns true if string has at least 1 cased character and all cased characters are in lowercase and false otherwise.

In [ ]:
str = "THIS is string example....wow!!!"; 
print str.islower()

str = "this is string example....wow!!!";
print str.islower()

### isnumeric()
Returns true if a unicode string contains only numeric characters and false otherwise.

In [148]:
str = u"this2009";  
print (str.isnumeric())

str = u"23443434";
print (str.isnumeric())

False
True

### isspace() 
Returns true if string contains only whitespace characters and false otherwise.

In [149]:
str = "       "; 
print (str.isspace())

str = "This is string example....wow!!!";
print (str.isspace())

True
False

### istitle() 
Returns true if string is properly "titlecased" and false otherwise.

In [ ]:
str = "This Is String Example...Wow!!!";
print (str.istitle())

str = "This is string example....wow!!!";
print (str.istitle())

### isupper() 
Returns true if string has at least one cased character and all cased characters are in uppercase and false otherwise.

In [150]:
str = "THIS IS STRING EXAMPLE....WOW!!!"; 
print (str.isupper())

str = "THIS is string example....wow!!!";
print (str.isupper())

True
False

### join(seq) 
Merges (concatenates) the string representations of elements in sequence seq into a string, with separator string.

In [151]:
s = "-";
seq = ("a", "b", "c"); # This is sequence of strings.
print (s.join( seq ))

a-b-c

### len(string)
Returns the length of the string

In [152]:
str = "this is string example....wow!!!";
print ("Length of the string: ", len(str))

Length of the string:  32

### ljust(width, fillchar) 
Returns a space-padded string with the original string left-justified to a total of width columns.

In [157]:
str = "this is string example....wow!!!";
print (str.ljust(50, '0'))

this is string example....wow!!!000000000000000000

### lower() 
Converts all uppercase letters in string to lowercase.

In [158]:
str = "THIS IS STRING EXAMPLE....WOW!!!";
print (str.lower())

this is string example....wow!!!

### lstrip() 
Removes all leading whitespace in string.

In [159]:
str = "     this is string example....wow!!!     ";
print (str.lstrip())
str = "88888888this is string example....wow!!!8888888";
print (str.lstrip('8'))

this is string example....wow!!!
this is string example....wow!!!8888888

### max(str) 
Returns the max alphabetical character from the string str.

In [162]:
str = "this is really a string example....wow!!!";
print ("Max character: " + max(str))

str = "this is a string example....wow!!!";
print ("Max character: " + max(str))

Max character: y
Max character: x

### min(str) 
Returns the min alphabetical character from the string str.

In [163]:
str = "this-is-real-string-example....wow!!!";
print ("Min character: " + min(str))

str = "this-is-a-string-example....wow!!!";
print ("Min character: " + min(str))

Min character: !
Min character: !

### replace(old, new , max) 
Replaces all occurrences of old in string with new or at most max occurrences if max given.

In [164]:
str = "this is string example....wow!!! this is really string"
print (str.replace("is", "was"))
print (str.replace("is", "was", 3))

thwas was string example....wow!!! thwas was really string
thwas was string example....wow!!! thwas is really string

### rfind(str, beg=0,end=len(string)) 
Same as find(), but search backwards in string.

In [165]:
str1 = "this is really a string example....wow!!!";
str2 = "is";

print (str1.rfind(str2))
print (str1.rfind(str2, 0, 10))
print (str1.rfind(str2, 10, 0))

print (str1.find(str2))
print (str1.find(str2, 0, 10))
print (str1.find(str2, 10, 0))

5
5
-1
2
2
-1

### rindex( str, beg=0, end=len(string)) 
Same as index(), but search backwards in string.

In [ ]:
str1 = "this is string example....wow!!!";
str2 = "is";

print (str1.rindex(str2))
print (str1.index(str2))

### rjust(width,fillchar) 
Returns a space-padded string with the original string right-justified to a total of width columns.

In [166]:
str = "this is string example....wow!!!";
print (str.rjust(50, '0'))

000000000000000000this is string example....wow!!!

### rstrip() 
Removes all trailing whitespace of string.

In [167]:
str = "     this is string example....wow!!!     ";
print (str.rstrip())
str = "88888888this is string example....wow!!!8888888";
print (str.rstrip('8'))

     this is string example....wow!!!
88888888this is string example....wow!!!

### split(str="", num=string.count(str)) 
Splits string according to delimiter str (space if not provided) and returns list of substrings; split into at most num substrings if given.

In [168]:
str = "Line1-abcdef \nLine2-abc \nLine4-abcd";
print (str.split( ))
print (str.split(' ', 1 ))

['Line1-abcdef', 'Line2-abc', 'Line4-abcd']
['Line1-abcdef', '\nLine2-abc \nLine4-abcd']

### splitlines( num=string.count('\n')) 
Splits string at all (or num) NEWLINEs and returns a list of each line with NEWLINEs removed.

In [169]:
str = "Line1-a b c d e f\nLine2- a b c\n\nLine4- a b c d";
print (str.splitlines( ))
print (str.splitlines( 0 ))
print (str.splitlines( 3 ))
print (str.splitlines( 4 ))
print (str.splitlines( 5 ))

['Line1-a b c d e f', 'Line2- a b c', '', 'Line4- a b c d']
['Line1-a b c d e f', 'Line2- a b c', '', 'Line4- a b c d']
['Line1-a b c d e f\n', 'Line2- a b c\n', '\n', 'Line4- a b c d']
['Line1-a b c d e f\n', 'Line2- a b c\n', '\n', 'Line4- a b c d']
['Line1-a b c d e f\n', 'Line2- a b c\n', '\n', 'Line4- a b c d']

### startswith(str, beg=0,end=len(string)) 
Determines if string or a substring of string (if starting index beg and ending index end are given) starts with substring str; returns true if so and false otherwise.

In [170]:
str = "this is string example....wow!!!";
print (str.startswith( 'this' ))
print (str.startswith( 'is', 2, 4 ))
print (str.startswith( 'this', 2, 4 ))

True
True
False

### strip(chars) 
Performs both lstrip() and rstrip() on string.

In [171]:
str = "0000000this is string example....wow!!!0000000";
print (str.strip( '0' ))

this is string example....wow!!!

### swapcase() 
Inverts case for all letters in string.

In [172]:
str = "this is string example....wow!!!";
print (str.swapcase())

str = "THIS IS STRING EXAMPLE....WOW!!!";
print (str.swapcase())

THIS IS STRING EXAMPLE....WOW!!!
this is string example....wow!!!

### title() 
Returns "titlecased" version of string, that is, all words begin with uppercase and the rest are lowercase.

In [173]:
str = "this is string example....wow!!!";
print (str.title())

This Is String Example....Wow!!!

### upper() 
Converts lowercase letters in string to uppercase.

In [174]:
str = "this is string example....wow!!!";
print ("str.capitalize() : ", str.upper())

str.capitalize() :  THIS IS STRING EXAMPLE....WOW!!!

### zfill (width) 
Returns original string leftpadded with zeros to a total of width characters; intended for numbers, zfill() retains any sign given (less one zero).

In [175]:
str = "this is string example....wow!!!";
print (str.zfill(40))
print (str.zfill(50))

00000000this is string example....wow!!!
000000000000000000this is string example....wow!!!

### isdecimal() 
Returns true if a unicode string contains only decimal characters and false otherwise.

In [176]:
str = u"this2009";  
print (str.isdecimal())

str = u"23443434";
print (str.isdecimal())

False
True

# Python Lists

Lists are the most versatile of Python's compound data types. A list contains items separated by commas and enclosed within square brackets ([]). To some extent, lists are similar to arrays in C. One difference between them is that all the items belonging to a list can be of different data type.

The values stored in a list can be accessed using the slice operator ([ ] and [:]) with indexes starting at 0 in the beginning of the list and working their way to end -1. The plus (+) sign is the list concatenation operator, and the asterisk (*) is the repetition operator.

## Creating a list 
is as simple as putting different comma-separated values between square brackets

In [177]:
list1 = ['physics', 'chemistry', 1997, 2000];
list2 = [1, 2, 3, 4, 5 ];
list3 = ["a", "b", "c", "d"]

list = [ 'abcd', 786 , 2.23, 'john', 70.2 ]
tinylist = [123, 'john']

print (list)            # Prints complete list
print (list[0])         # Prints first element of the list
print (list[1:3])       # Prints elements starting from 2nd till 4th 
print (list[2:])        # Prints elements starting from 3rd element
print (tinylist * 2)    # Prints list two times
print (list + tinylist) # Prints concatenated lists

['abcd', 786, 2.23, 'john', 70.2]
abcd
[786, 2.23]
[2.23, 'john', 70.2]
[123, 'john', 123, 'john']
['abcd', 786, 2.23, 'john', 70.2, 123, 'john']

## Update List
You can update single or multiple elements of lists by giving the slice on the left-hand side of the assignment operator, and you can add to elements in a list with the append() method

In [178]:
list = ['physics', 'chemistry', 1997, 2000];
print ("Value available at index 2 : ")
print (list[2])
list[2] = 2001;
print ("New value available at index 2 : ")
print (list[2])

Value available at index 2 :
1997
New value available at index 2 :
2001

## Remove
To remove a list element, you can use either the del statement if you know exactly which element(s) you are deleting or the remove() method if you do not know

In [179]:
list1 = ['physics', 'chemistry', 1997, 2000];
print (list1)
del list1[2];
print ("After deleting value at index 2 : ")
print (list1)

['physics', 'chemistry', 1997, 2000]
After deleting value at index 2 :
['physics', 'chemistry', 2000]

## List Operators
Lists respond to the + and * operators much like strings they mean concatenation and repetition here too except that the result is a new list, not a string.

In [180]:

list1 = [1,2,3]
list2 = [4,5,6]

print (len(list1))
print (list1 + list2)
print (list1*4)
print (3 in list1)
for x in list1+list2 : print (x)

3
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]
True
1
2
3
4
5
6

## Index/Slice
Because lists are sequences, indexing and slicing work the same way for lists as they do for strings

In [181]:

L = ['spam', 'Spam', 'SPAM!']

print (L[2])
print (L[-2])
print (L[1:])

SPAM!
Spam
['Spam', 'SPAM!']

## Built-in List Functions & Methods

Python includes the following list functions

### len(list)  
Gives the total length of the list.

In [182]:
list1, list2 = [123, 'xyz', 'zara'], [456, 'abc']
print ("First list length : ", len(list1))
print ("Second list length : ", len(list2))

First list length :  3
Second list length :  2

### max(list) 
Returns item from the list with max value.

In [187]:
list1, list2 = ['xyz', 'zara', 'abc'], [456, 700, 200]
print ("Max value element : ", max(list1))
print ("Max value element : ", max(list2))

Max value element :  zara
Max value element :  700

### min(list) 
Returns item from the list with min value.

In [189]:
list1, list2 = ['xyz', 'zara', 'abc'], [456, 700, 200]
print ("min value element : ", min(list1))
print ("min value element : ", min(list2))

min value element :  abc
min value element :  200

### list.append(obj) 
Appends object obj to list

In [194]:
aList = [123, 'xyz', 'zara', 'abc'];
aList.append( 2009 );
print ("Updated List : ", aList)

Updated List :  [123, 'xyz', 'zara', 'abc', 2009]

### list.count(obj)
Returns count of how many times obj occurs in list

In [195]:
aList = [123, 'xyz', 'zara', 'abc', 123];
print ("Count for 123 : ", aList.count(123))
print ("Count for zara : ", aList.count('zara'))

Count for 123 :  2
Count for zara :  1

### list.extend(seq) 
Appends the contents of seq to list

In [196]:
aList = [123, 'xyz', 'zara', 'abc', 123];
bList = [2009, 'manni'];
aList.extend(bList)
print ("Extended List : ", aList )

Extended List :  [123, 'xyz', 'zara', 'abc', 123, 2009, 'manni']

### list.index(obj) 
Returns the lowest index in list that obj appears

In [198]:
aList = [123, 'xyz', 'zara', 'abc'];
print ("Index for xyz : ", aList.index( 'xyz' ) )
print ("Index for zara : ", aList.index( 'zara' ) )

Index for xyz :  1
Index for zara :  2

### list.insert(index, obj) 
Inserts object obj into list at offset index

In [199]:
aList = [123, 'xyz', 'zara', 'abc']
aList.insert( 3, 2009)
print ("Final List : ", aList)

Final List :  [123, 'xyz', 'zara', 2009, 'abc']

### list.pop(obj=list[-1]) 
Removes and returns last object or obj from list

In [200]:
aList = [123, 'xyz', 'zara', 'abc'];
print ("A List : ", aList.pop())
print ("B List : ", aList.pop(2))

A List :  abc
B List :  zara

### list.remove(obj) 
Removes object obj from list

In [201]:
aList = [123, 'xyz', 'zara', 'abc', 'xyz'];
aList.remove('xyz');
print ("List : ", aList)
aList.remove('abc');
print ("List : ", aList)

List :  [123, 'zara', 'abc', 'xyz']
List :  [123, 'zara', 'xyz']

### list.reverse() 
Reverses objects of list in place

In [202]:
aList = [123, 'xyz', 'zara', 'abc', 'xyz'];
aList.reverse();
print ("List : ", aList)

List :  ['xyz', 'abc', 'zara', 'xyz', 123]

### list.sort(func) 
Sorts objects of list, use compare func if given

In [204]:
aList = ['xyz', 'zara', 'abc', 'xyz'];
aList.sort();
print ("List : ", aList)

List :  ['abc', 'xyz', 'xyz', 'zara']

# Python Tuples

A tuple is another sequence data type that is similar to the list. A tuple consists of a number of values separated by commas. Unlike lists, however, tuples are enclosed within parentheses.

The main differences between lists and tuples are: Lists are enclosed in brackets ( [ ] ) and their elements and size can be changed, while tuples are enclosed in parentheses ( ( ) ) and cannot be updated. Tuples can be thought of as read-only lists.

In [205]:
tuple = ( 'abcd', 786 , 2.23, 'john', 70.2  )
tinytuple = (123, 'john')

print (tuple)           # Prints complete list
print (tuple[0])        # Prints first element of the list
print (tuple[1:3])      # Prints elements starting from 2nd till 3rd 
print (tuple[2:])       # Prints elements starting from 3rd element
print (tinytuple * 2)   # Prints list two times
print (tuple + tinytuple) # Prints concatenated lists

('abcd', 786, 2.23, 'john', 70.2)
abcd
(786, 2.23)
(2.23, 'john', 70.2)
(123, 'john', 123, 'john')
('abcd', 786, 2.23, 'john', 70.2, 123, 'john')

The following code is invalid with tuple, because we attempted to update a tuple, which is not allowed. Similar case is possible with lists

In [206]:
tuple = ( 'abcd', 786 , 2.23, 'john', 70.2  )
list = [ 'abcd', 786 , 2.23, 'john', 70.2  ]
list[2] = 1000     # Valid syntax with list
tuple[2] = 1000    # Invalid syntax with tuple

TypeError: 'tuple' object does not support item assignment

## Accessing Values in Tuples

To access values in tuple, use the square brackets for slicing along with the index or indices to obtain value available at that index.

In [207]:
tup1 = ('physics', 'chemistry', 1997, 2000)
tup2 = (1, 2, 3, 4, 5, 6, 7 )
print ("tup1[0]: ", tup1[0])
print ("tup2[1:5]: ", tup2[1:5])

tup1[0]:  physics
tup2[1:5]:  (2, 3, 4, 5)

## Delete Tuple Elements

Removing individual tuple elements is not possible. There is, of course, nothing wrong with putting together another tuple with the undesired elements discarded.

In [208]:
tup = ('physics', 'chemistry', 1997, 2000)
print (tup)
del tup
print ("After deleting tup : ")
print (tup)

('physics', 'chemistry', 1997, 2000)
After deleting tup :

NameError: name 'tup' is not defined

<a id="section7"></a>
## Python Dictionary

Python's dictionaries are kind of hash table type. They work like associative arrays or hashes found in Perl and consist of key-value pairs. A dictionary key can be almost any Python type, but are usually numbers or strings. Values, on the other hand, can be any arbitrary Python object.

Dictionaries are enclosed by curly braces ({ }) and values can be assigned and accessed using square braces ([]).

In [209]:
dict = {}
dict['one'] = "This is one"
dict[2]     = "This is two"

tinydict = {'name': 'john','code':6734, 'dept': 'sales'}


print (dict['one'])       # Prints value for 'one' key
print (dict[2])           # Prints value for 2 key
print (tinydict)          # Prints complete dictionary
print (tinydict.keys())   # Prints all the keys
print (tinydict.values()) # Prints all the values

This is one
This is two
{'name': 'john', 'code': 6734, 'dept': 'sales'}
dict_keys(['name', 'code', 'dept'])
dict_values(['john', 6734, 'sales'])

# Classes

Objects are an encapsulation of variables and functions into a single entity. Objects get their variables and functions from classes. Classes are essentially a template to create your objects.
A very basic class would look something like this:

In [210]:
class MyClass:
    variable = "Object1"

    def function(self):
        print("This is a message inside the class.")

First, to assign the above class (the code) to an object you would do the following:

In [211]:
myobjectx = MyClass()

Now the variable "myobjectx" holds an object of the class "MyClass" that contains the variable and the function defined within the class called "MyClass".

## Accessing Object Variables
To access the variable inside of the newly created object "myobjectx" you would do the following:

In [212]:
myobjectx.variable

'Object1'

You can create multiple different objects that are of the same class(have the same variables and functions defined). However, each object contains independent copies of the variables defined in the class. For instance, if we were to define another object with the "MyClass" class and then change the string in the variable above:

In [213]:
myobjectx = MyClass()
myobjecty = MyClass()

myobjecty.variable = "Object2"

# Then print out both values
print(myobjectx.variable)
print(myobjecty.variable)

Object1
Object2

## Accessing Object Functions
To access a function inside of an object you use notation similar to accessing a variable:

In [214]:
myobjectx.function()

This is a message inside the class.

# Data Type Conversion

Sometimes, you may need to perform conversions between the built-in types. To convert between types, you simply use the type name as a function.

There are several built-in functions to perform conversion from one data type to another. These functions return a new object representing the converted value.

>* __int(x [,base])__ : Converts x to an integer. base specifies the base if x is a string.
* __long(x [,base])__ : Converts x to a long integer. base specifies the base if x is a string.
* __float(x)__ : Converts x to a floating-point number.
* __complex(real [,imag])__ : Creates a complex number.
* __str(x)__ : Converts object x to a string representation.
* __repr(x)__ : Converts object x to an expression string. 
* __eval(str)__ : Evaluates a string and returns an object.
* __tuple(s)__ : Converts s to a tuple.
* __list(s)__ : Converts s to a list.
* __set(s__) : Converts s to a set.
* __dict(d)__ : Creates a dictionary. d must be a sequence of (key,value) tuples.
* __frozenset(s)__ : Converts s to a frozen set.
* __chr(x)__ : Converts an integer to a character.
* __unichr(x)__ : Converts an integer to a Unicode character.
* __ord(x)__ : Converts a single character to its integer value.
* __hex(x)__ : Converts an integer to a hexadecimal string.
* __oct(x)__ : Converts an integer to an octal string.

# Types of Operators

Operators are the constructs which can manipulate the value of operands.

Consider the expression 4 + 5 = 9. Here, 4 and 5 are called operands and + is called operator.

* Python language supports the following types of operators. 

__Note__ : This are the most comon types

## Arithmetic Operators

In [235]:
a = 21
b = 10
c = 0

## Addition : 
Adds values on either side of the operator.

In [236]:
c = a + b
print ("Line 1 - Value of c is ", c)

Line 1 - Value of c is  31

## Substraction : 
Subtracts right hand operand from left hand operand.

In [237]:
c = a - b
print ("Line 2 - Value of c is ", c )

Line 2 - Value of c is  11

## Multiplication : 
Multiplies values on either side of the operator

In [239]:
c = a * b
print ("Line 3 - Value of c is ", c )

Line 3 - Value of c is  210

In [240]:
#Division: Divides left hand operand by right hand operand
c = a / b
print ("Line 4 - Value of c is ", c )

Line 4 - Value of c is  2.1

In [229]:
#Modulus : Divides left hand operand by right hand operand and returns remainder
c = a % b
print ("Line 5 - Value of c is ", c)

Line 5 - Value of c is  1

In [230]:
#Exponent : Performs exponential (power) calculation on operators
a = 2
b = 3
c = a**b 
print ("Line 6 - Value of c is ", c)

Line 6 - Value of c is  8

In [231]:
#Floor Division : The division of operands where the result is the quotient in which the digits after the decimal point are removed. 
#But if one of the operands is negative, the result is floored, i.e., rounded away from zero (towards negative infinity)
a = 10
b = 5
c = a//b 
print ("Line 7 - Value of c is ", c)

Line 7 - Value of c is  2

## Comparison Operators
These operators compare the values on either sides of them and decide the relation among them. They are also called Relational operators

If the values of two operands are equal, then the condition becomes true.

In [241]:
if ( a == b ):
    print ("a is equal to b")
else:
    print ("b is not equal to b")

Line 1 - a is not equal to b

In [243]:
#If values of two operands are not equal, then condition becomes true.
if ( a != b ):
    print ("a is not equal to b")
else:
    print ("a is equal to b")

Line 2 - a is not equal to b

In [248]:
#If values of two operands are not equal, then condition becomes true.
if ( a != b ):
    print ("a is not equal to b")
else:
    print ("a is equal to b")

a is not equal to b

In [249]:
#If the value of left operand is less than the value of right operand, then condition becomes true.
if ( a < b ):
    print ("a is less than b")
else:
    print ("a is not less than b")

a is not less than b

In [251]:
#If the value of left operand is greater than the value of right operand, then condition becomes true.
if ( a > b ):
    print ("a is greater than b")
else:
    print ("a is not greater than b")

a is not greater than b

In [252]:
#If the value of left operand is less than or equal to the value of right operand, then condition becomes true.

a = 5
b = 20

if ( a <= b ):
    print ("a is either less than or equal to  b")
else:
    print ("a is neither less than nor equal to  b")

a is either less than or equal to  b

In [253]:
#If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.
if ( b >= a ):
    print ("b is either greater than  or equal to b")
else:
    print ("b is neither greater than  nor equal to b")

b is either greater than  or equal to b

In [261]:
#Assigns values from right side operands to left side operand
c = a + b
print ("Value of c is ", c)

Value of c is  25

In [255]:
#It adds right operand to the left operand and assign the result to left operand
c += a
print ("Value of c is ", c )

Value of c is  30

In [257]:
#It multiplies right operand with the left operand and assign the result to left operand
c *= a
print ("Value of c is ", c )

Value of c is  150

In [258]:
#It divides left operand with the right operand and assign the result to left operand
c /= a 
print ("Value of c is ", c )

Value of c is  30.0

In [262]:
#c  = 2
#It takes modulus using two operands and assign the result to left operand
c %= a
print ("c is ", c)

c is  0

In [263]:
#Performs exponential (power) calculation on operators and assign value to the left operand
c **= a
print ("Value of c is ", c)

Value of c is  0

In [264]:
#It performs floor division on operators and assign value to the left operand
c //= a
print ("Value of c is ", c)

Value of c is  0

In [ ]:
#Identity Operators

In [269]:
a = 20
b = 20

In [270]:
# is : Evaluates to true if the variables on either side of the operator point to the same object and false otherwise.
if ( a is b ):
    print ("a and b have same identity")
else:
    print ("a and b do not have same identity")

a and b have same identity

In [271]:
if ( id(a) == id(b) ):
    print ("a and b have same identity")
else:
    print ("a and b do not have same identity")

a and b have same identity

In [272]:
b = 30
if ( a is b ):
    print ("a and b have same identity")
else:
    print ("a and b do not have same identity")

a and b do not have same identity

In [273]:
# is not : Evaluates to false if the variables on either side of the operator point to the same object and true otherwise.
if ( a is not b ):
    print ("a and b do not have same identity")
else:
    print ("a and b have same identity")

a and b do not have same identity